*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color);
  box-shadow: 0 5px 5px rgba(226, 208, 208, 0.1);
}

.logo {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  font-weight: bold;
  display: flex;
  list-style: none;
  gap: 35px
}

.nav-links a{
  color: var(--text-color);
  font-size: 18px;
  transition: 0.3s;
  text-decoration: none;
}

.nav-links a:hover{
  color: var(--primary-color);
}

section{
  min-height: 100vh;
  padding: 40px;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  min-height: 90vh;
}

.hero-left{
  width: 50%;
}

.hero-left h1{
  font-size: 70px;
  margin: 15px 0;
}

.hero-left h2{
  color: var(--primary-color);
  margin-bottom: 40px;
}

.hero-left p{
  margin-top: 20px;
  line-height: 1.6;
  font-size: 18px;
}

.highlight{
  color: var(--primary-color);
}

.hero-left button{
  margin-top: 30px;
  padding: 12px 28px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero-left button:hover{
  color: var(--background-color);
  transform: scale(1.05);
}

.hero-right{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover; /*prevents stretching*/
  box-shadow: 0 0 120px var(--primary-color);  /*0 0 → no offset*/
  border-top: var(--background-color) 5px solid;
  border-bottom: var(--background-color) 5px solid;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 60px;
  gap: 60px;
}

.about-img img{
  width: 350px;
  max-height: 100%;
  aspect-ratio: 1/1;  /*Keeps image perfectly square → circle works better*/
  object-fit: cover;
  border-radius: 50%;
  border-top: 5px solid var(--background-color);
  border-bottom: 5px solid var(--background-color);
  box-shadow: 0 0 120px var(--primary-color);
}

.about-content{
  width: 50%;
}

.about-content h2{
  font-size: 50px;
  margin-bottom: 25px;
  color: var(--primary-color);
}

.about-content p{
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 15px;
}

.about-content button{
  margin-top: 20px;
  padding: 12px 25px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.about-content button:hover{
  transform: scale(1.05);
  color: var(--background-color);
}

.skills{
  padding: 100px 60px;
}

.skills h2{
  text-align: center;
  font-size: 50px;
  color: var(--primary-color);
  margin-bottom: 60px;
}

.skills-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.skill-card{
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s;
}

.skill-card h3{
  font-size: 24px;
}

.skill-card:hover{
  transform: translateY(-20px);
  color: var(--primary-color);
  box-shadow: ghostwhite 0px 0px 15px;
}

.skill-card img {
  width: 80px;
  margin-bottom: 20px;
}

.exp{
  padding: 100px 60px;
}

.exp h2{
  text-align: center;
  font-size: 50px;
  color: var(--primary-color);
  margin-bottom: 60px;
}

.exp-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.exp-card{
  background-color: #1a1a1a;
  padding: 35px;
  border-radius: 20px;
  transition: 0.3s;
}

.exp-card:hover{
  transform: translateY(-20px);
  color: var(--primary-color);
  box-shadow: ghostwhite 0px 0px 15px;
}

.exp h3{
  font-size: 30px;
  margin-bottom: 10px;
}

.exp h4{
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.exp p{
  margin-bottom: 20px;
  font-size: 16px;
}

.exp ul{
  padding-left: 20px;
}

.exp li{
  margin-bottom: 10px;
  line-height: 1.6;
}

.projects{
  padding: 100px 60px;
}

.projects h2{
  text-align: center;
  font-size: 50px;
  color: var(--primary-color);
  margin-bottom: 60px;
}

.pro-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
}

.pro-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.3s;
}

.pro-card:hover{
  transform: translateY(-20px);
  color: var(--primary-color);
  box-shadow: ghostwhite 0px 0px 15px;
}

.pro-card img{
  width: 100%;
  object-fit: cover;
}

.pro-content{
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pro-card h3{
  font-size: 28px;
  margin-bottom: 10px;
}

.pro-card h4{
  color: var(--primary-color);
  margin-bottom: 15px;
}

.pro-card p{
  line-height: 1.6;
  margin-bottom: 25px;
}

.pro-card button {
  padding: 12px 28px;
  border: none;
  align-self: flex-start;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s;
  margin-right: 10px;
}

.pro-card button:hover{
  transform: scale(1.10);
  color: var(--background-color);
}

.contact {
  padding: 100px 60px;
}

.contact h2{
  text-align: center;
  font-size: 50px;
  color: var(--primary-color);
  margin-bottom: 60px;
}

.con-container{
  display: flex;
  justify-content: center;
}

footer{
    text-align: center;
    padding: 30px;
    background-color: #1a1a1a;
    margin-top: 50px;
}

footer a{
    color: #00adb5;
    text-decoration: none;
    line-height: 1.8;
    margin: 0 10px;
}

@media screen and (max-width: 992px) {

    .navbar{
        flex-direction: column;
        gap: 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero{
        flex-direction: column-reverse;
        text-align: center;
        padding: 60px 30px;
    }

    .hero-left, .hero-right{
        width: 100%;
    }

    .hero-left h1{
        font-size: 50px;
    }

    .hero-left h2{
        font-size: 30px;
    }

    .hero-right img{
        width: 225px;
        height: 225px;
        margin-bottom: 30px;
    }

    .about{
        flex-direction: column;
        text-align: center;
    }

    .about-img, .about-content{
        width: 100%;
    }

    .about-img img{
        width: 225px;
        margin-bottom: 30px;
    }

    .skills-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .exp-container{
        flex-direction: column;
    }

    .pro-container{
        grid-template-columns: 1fr;
    }

    .con-container{
        flex-direction: column;
    }

}

@media screen and (max-width: 600px) {
    
    h2{
        font-size: 38px;
    }

    .navbar{
        padding: 20px;
    }

    .hero, .about, .skills, .exp, .projects, .contact{
        padding: 70px 20px;
    }

    .skills-container{
        grid-template-columns: 1fr;
    }

    .hero-left h1{
        font-size: 40px;
    }

    .hero-left h2{
        font-size: 24px; 
    }

    .pro-card img{
        height: 200px;
    }
}